<div class="col-xs-12 dvBoxShadow" *ngFor="let wlcmData of welcomeSectionData">
  <div class="col-xs-12" class="welcomTitle" ><h1>{{wlcmData.wlcmTitle}}</h1></div>
  <div class="row">
      <div class="col-xs-12 col-lg-1">
      </div>
      <div class="col-xs-12 col-lg-5">
        <!-- <iframe width="420" height="345" [src]="wlcmData.wlcmVideoUrl | imgUlrSafe">
        </iframe> -->
          <!-- <video width="420" height="345" controls>
            <source [src]="wlcmData.wlcmVideoUrl | imgUlrSafe" type="video/mp4">
            Your browser does not support the video tag.
          </video> -->
          <img class="pstrImg" src="assets/images/Pastor/pic1.jpeg">
      </div>
      <div class="col-xs-12 col-lg-5">
        <div class="welcomText" >
          <span>{{wlcmData.wlcmDesc}}{{wlcmData.wlcmDesc}}
          </span>
        </div>
      </div>
        <div class="col-xs-12 col-lg-1">&nbsp;
          </div>
  </div>
</div>
