<div>


  <div class="headerSection">
      <app-HeaderSection></app-HeaderSection>
  </div>
  <div class="row welcomeSection">
    <app-WelcomeSection></app-WelcomeSection>
  </div>
  <div class="row worshipsSection">
    <app-Worships></app-Worships>
  </div>
  <div class="row addRequests pstrImgScrollerSection">
    <app-prayer-requests></app-prayer-requests>
  </div>
  <!-- <div class="row reachUsSection" >
    <app-reach-us></app-reach-us>
  </div> -->
  <div class="row gallerySection">
    <app-Gallery></app-Gallery>
  </div>
  <!-- <div class="row gallerySection">
    <app-About-Us></app-About-Us>
  </div> -->
  <div class="row emptyFooter" style="height: 20px;">
  </div>
  <div class="row footerSection">
    <app-footer-data></app-footer-data>
  </div>
</div>
