
<!--
  For Vertical sliding
  <ngx-slick-carousel
          class="carousel feedback-vid"
          #slickModal="slick-carousel"
          [config]="videoSlider">
          <div ngxSlickItem *ngFor="let slide of videos1" class="slide">

                    <video class="gallerySectionVideo" controls>
                      <source src="{{ slide.backGroundUrl }}" type="video/mp4">
                      Your browser does not support the video tag.
                    </video>
          </div>
      </ngx-slick-carousel> -->
