.dvHeight{
   height: 200px;

}
.imgPray{
  width: 100%;
  height: 200px;
}
.dvNeedhelp{
  padding: 15px;
}
.dvRquests{
  padding-top: 50px;
  padding-left: 100px;
}
.btn-custom{
  font-size: large;
  width: 100%;
  background-color: darkcyan;
}
