<div class="row" style="padding: 1%;" >
  <div class="row" class="galleyRow">
    <div class="row">
      <div class="col-sm-12 col-lg-6" style="padding: 1%;">
        <div class="col-sm-12" class="galleryTitle"><h2>Gallery</h2></div>
        <div class="dvImg">
          <app-ImageGallary></app-ImageGallary>
        </div>
      </div>
      <!-- <div class="col-sm-12 col-lg-6" style="padding: 1%;">
        <div class="col-sm-12" class="galleryTitle"><h2>Events</h2></div>
        <div class="dvUpEvnts">
          <app-events></app-events>
        </div>
      </div> -->
      <div class="col-sm-12 col-lg-6" style="padding: 1%;">
        <div class="col-sm-12" class="galleryTitle"><h2>We Pray For you</h2></div>
        <div class="dvUpEvnts">
          <app-We-PrayForU></app-We-PrayForU>
        </div>
      </div>
    </div>
  </div>
</div>

