<div class="row text-center dvFooterShadow">
  <div class="col-sm-12 col-lg-12">

  </div>
  <div class="col-sm-12 col-lg-6">
    <p>© 2023 Grace Prayer House. All Rights Reserved</p>
  </div>
  <div class="col-sm-12 col-lg-6">
    <div class="col-sm-12  socila-icon-align">
      <ul class="ftrul">
        <li class="ftrli" *ngFor="let icon of icons">
          <a class="btn btnFooterIcons" title="{{icon.IconTitle}}"  href="{{icon.IconUrl}}" target="_blank"><i class="{{icon.IconClass}}"></i></a>
        </li>
      </ul>
      <!-- <a class="btn btnFooterIcons" title="facebook"  href="https://www.facebook.com/profile.php?id=100081995317529&mibextid=ZbWKwL" target="_blank"><i class="fa fa-facebook"></i></a>
      <a class="btn btnFooterIcons" title="instagram"  href="https://instagram.com/graceprayerhousehyd?igshid=MzRlODBiNWFlZA==" target="_blank"><i class="fa fa-instagram"></i></a>
      <a class="btn btnFooterIcons" title="YouTube" href="https://www.youtube.com/@graceprayerhouse2022" target="_blank"><i class="fa fa-youtube"></i></a> -->
    </div>
  </div>

</div>

